@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="~/images/logo/6.png" type="image/png" />
    <title>Braino Services </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Library/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Library/vendors/linericon/style.css" />
    <link rel="stylesheet" href="~/Library/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Library/css/themify-icons.css" />
    <link rel="stylesheet" href="~/Library/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Library/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="~/Library/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="~/Library/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="~/Library/vendors/jquery-ui/jquery-ui.css" />
    <!-- main css -->
    <link rel="stylesheet" href="~/Library/css/style.css" />
    <link rel="stylesheet" href="~/Library/css/responsive.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11418723675">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11418723675');
    </script>
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">

        <div class="main_menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light w-100">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="~/Products/Allproducts">
                        <img src="~/images/logo/5.png" alt="logo images">
                    </a>

                    <li style="list-style:none;" class="nav-item">
                        <a href="~/Products/Cart" class="icons">
                            <i style="font-size:20px;" class="ti-shopping-cart"></i><span style="color:orange;">@ViewBag.count</span>
                        </a>
                    </li>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                        <div class="row w-100 mr-0">
                            <div class="col-lg-7 pr-0">
                                <ul class="nav navbar-nav center_nav pull-right">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="~/Products/Allproducts">Home</a>
                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="~/Products/FingerPrint?str=fingerprint" class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Biometric</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Products/FingerPrint?str=fingerprint">Fingerprint Device</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Products/IRIS?str=iris">Iris Scanner</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Products/Aadhaar?str=Aadhaar">Aadhaar Product</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="~/Products/FingerPrint?str=Cable" class="nav-link">Cables</a>


                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="~/Products/FingerPrint?str=Smartphone" class="nav-link"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Mobile</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="~/Products/Refurbished?str=Smartphone" class="nav-link">Mobile</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Products/Refurbished?str=Smartphone Accessories" class="nav-link">Mobile Accessories</a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li class="nav-item submenu dropdown">
                                        <a href="~/Products/FingerPrint?str=Laptop" class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Laptops</a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="~/Products/Refurbished?str=Refurbished" class="nav-link">Refurbished</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Products/Accessories?str=Accessories" class="nav-link">Laptop Accessories</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Products/Bags?str=Bags" class="nav-link">Laptop Bags</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Products/Battery?str=Battery" class="nav-link">Laptop Battery</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Products/Charger?str=Charger" class="nav-link">Laptop Charger</a>
                                            </li>



                                        </ul>
                                    </li>
                                    <li class="nav-item submenu dropdown">
                                        <a href="~/Contacts/ContactUs" class="nav-link dropdown-toggle"
                                           data-toggle="dropdown"
                                           role="button"
                                           aria-haspopup="true"
                                           aria-expanded="false">Contact</a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="~/Contacts/AboutUs" class="nav-link">About Us</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Contacts/ReturnPolicy" class="nav-link">Return Policy</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Contacts/Privacy" class="nav-link">Privacy Policy</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Contacts/Shipping" class="nav-link">Shipping Policy</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Contacts/TarrifsAndSurcharges" class="nav-link">International Tarrifs</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="~/Contacts/BillingTerms" class="nav-link">Billing Terms And Conditions </a>
                                            </li>


                                            <li class="nav-item">
                                                <a href="~/Contacts/ContactUs" class="nav-link">Contact Us</a>
                                            </li>



                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-5 pr-0">
                                <ul class="nav navbar-nav navbar-right right_nav pull-right">





                                    <li class="nav-item">

                                        <div style="margin-top:20px;" class="form-wrap">
                                            <form class="form-inline" asp-action="Product_Search" asp-controller="Products" method="get">
                                                <input class="form-control" name="str" placeholder="Search" type="text">
                                                <button class="btn btn-default" type="submit">Search</button>



                                            </form>
                                        </div>


                                    </li>







                                    <li class="nav-item">
                                        @if (ViewBag.uname != null)
                                        {
                                            <a href="~/Products/Myaccount" class="icons">@ViewBag.uname</a>
                                            <a style="color:red;" href="~/Products/Logout">Logout</a>
                                        }
                                        else
                                        {
                                            <a href="~/Products/UserLogin" class="icons">
                                                <i class="ti-user" aria-hidden="true"></i>
                                            </a>
                                        }
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <div class="container container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
            </ol>
        </nav>
    </div>


    <!--================End Home Banner Area =================-->
    <!--================Single Product Area =================-->
    <div class="product_image_area" style="margin-top:-100px;">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_product_img">
                        <div id="carouselExampleIndicators"
                             class="carousel slide"
                             data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100"
                                         src="~/images/product/@ViewBag.img1"
                                         alt="First slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="~/images/product/@ViewBag.img1"
                                         alt="Second slide" />
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="~/images/product/@ViewBag.img1"
                                         alt="Third slide" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>@ViewBag.name</h3>
                        <h2><span>Rs&nbsp;</span>@ViewBag.saleprice<span>.00</span></h2>
                        <ul class="list">
                            <li>
                                <a class="active" href="#">
                                    <span>Category</span> : @ViewBag.category
                                </a>
                            </li>
                            <li>
                                <a href="#"> <span>Availibility</span> : In Stock</a>
                            </li>


                            <li>
                                <a href="#">
                                    <span>Model</span> :@ViewBag.model
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <span>Color</span> : @ViewBag.color
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <span>Weight</span> : @ViewBag.weight
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <span>Brand</span> :@ViewBag.brand
                                </a>
                            </li>



                            <li>
                                <a href="#">
                                    <span>Dimension</span> :@ViewBag.dimension
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span>SKU</span> :@ViewBag.sku
                                </a>
                            </li>




                            <li>
                                <a href="#">
                                    <span>Condition</span> :@ViewBag.type
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span>Country Of Origin</span> :@ViewBag.origin
                                </a>
                            </li>




                        </ul>
                        <p>
                            @ViewBag.desc
                        </p>

                        <div class="card_area">
                            <a class="main_btn addtoCart" data-id="@ViewBag.id" href="#">Add to Cart</a>
                            <a asp-action="Cart" asp-controller="Products" class="icon_btn">
                                Go to Cart
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================End Single Product Area =================-->
    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="home-tab"
                       data-toggle="tab"
                       href="#home"
                       role="tab"
                       aria-controls="home"
                       aria-selected="true">Description</a>
                </li>
                <!--<li class="nav-item">
                     <a class="nav-link"
                        id="profile-tab"
                        data-toggle="tab"
                        href="#profile"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false">Specification</a>
                 </li>-->


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active"
                     id="home"
                     role="tabpanel"
                     aria-labelledby="home-tab">
                    <p>
                        @ViewBag.desc
                    </p>


                    <p>
                        @ViewBag.premark1
                    </p>


                    <p>
                        @ViewBag.premark2
                    </p>


                    <p>
                        @ViewBag.premark3
                    </p>

                    <p>
                        @ViewBag.premark4
                    </p>

                    <p>
                        @ViewBag.premark5
                    </p>

                    <p>
                        @ViewBag.premark6
                    </p>




                </div>
                <div class="tab-pane fade"
                     id="profile"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Width</h5>
                                    </td>
                                    <td>
                                        <h5>128mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Height</h5>
                                    </td>
                                    <td>
                                        <h5>508mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Depth</h5>
                                    </td>
                                    <td>
                                        <h5>85mm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Weight</h5>
                                    </td>
                                    <td>
                                        <h5>52gm</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Quality checking</h5>
                                    </td>
                                    <td>
                                        <h5>yes</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Freshness Duration</h5>
                                    </td>
                                    <td>
                                        <h5>03days</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>When packeting</h5>
                                    </td>
                                    <td>
                                        <h5>Without touch of hand</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Each Box contains</h5>
                                    </td>
                                    <td>
                                        <h5>60pcs</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="contact"
                     role="tabpanel"
                     aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="comment_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-1.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                                <div class="review_item reply">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-2.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-3.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Post a comment</h4>
                                <form class="row contact_form"
                                      action="contact_process.php"
                                      method="post"
                                      id="contactForm"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="name"
                                                   name="name"
                                                   placeholder="Your Full name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control"
                                                   id="email"
                                                   name="email"
                                                   placeholder="Email Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="number"
                                                   name="number"
                                                   placeholder="Phone Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      name="message"
                                                      id="message"
                                                      rows="1"
                                                      placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit"
                                                value="submit"
                                                class="btn submit_btn">
                                            Submit Now
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade"
                     id="review"
                     role="tabpanel"
                     aria-labelledby="review-tab">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>Overall</h5>
                                        <h4>4.0</h4>
                                        <h6>(03 Reviews)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>Based on 3 Reviews</h3>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    5 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    4 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    3 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    2 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    1 Star
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i> 01
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="review_list">
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-1.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-2.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Library/img/product/single-product/review-3.png"
                                                 alt="" />
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Add a Review</h4>
                                <p>Your Rating:</p>
                                <ul class="list">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p>Outstanding</p>
                                <form class="row contact_form"
                                      action="contact_process.php"
                                      method="post"
                                      id="contactForm"
                                      novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="name"
                                                   name="name"
                                                   placeholder="Your Full name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email"
                                                   class="form-control"
                                                   id="email"
                                                   name="email"
                                                   placeholder="Email Address" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="number"
                                                   name="number"
                                                   placeholder="Phone Number" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      name="message"
                                                      id="message"
                                                      rows="1"
                                                      placeholder="Review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit"
                                                value="submit"
                                                class="btn submit_btn">
                                            Submit Now
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->
    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>About Us</h4>
                    <ul>
                        <li>
                            <a href="#">
                                Our company “Braino Services” is a Proprietor based company that started its business in the year 2017 at Delhi, India.
                            </a>
                        </li>

                    </ul>
                </div>


                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="~/Contacts/ContactUs">Contact Us</a></li>
                        <li><a href="~/Contacts/TarrifsAndSurcharges">International Tariffs Surcharges </a></li>
                        <li><a href="~/Contacts/ReturnPolicy">Refund  Policy</a></li>
                        <li><a href="~/Contacts/Privacy">Privacy Policy</a></li>
                        <li><a href="~/Contacts/Shipping">Shipping Policy</a></li>
                        <li><a href="~/Contacts/BillingTerms">Billing Term And Condition</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="~/Products/Byget">Buy 1 get 1 Free</a></li>
                        <li><a href="~/Products/Bulk">Bulk Order</a></li>
                        <li><a href="~/Products/FingerPrint?str=Fingerprint">Biometric Products</a></li>
                        <li><a href="~/Products/Aadhaar">Aadhaar Product And Accessories</a></li>
                        <li><a href="~/Products/Accessories?str=Accessories">Laptop And Accessories</a></li>
                        <li><a href="~/Home/Privacy">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="#">Building No. 135,</a></li>
                        <li><a href="#">Street No. 54 T,</a></li>
                        <li><a href="#">Ist 60 Feet Road, Molarband Ext.</a></li>
                        <li><a href="#">Badarpur New Delhi 110044.</a></li>
                        <li>
                            <a href="#">
                                +917011591226
                                info@Brainoservices.co.in
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Payment</h4>
                    <p>You can trust us</p>
                    <img style="height:350px; width:268px;" class="img-fluid" src="~/image/qrcodeforpayment.jpeg" />
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;Braino Services 2023 All rights reserved | Designed & developed by Braino Services , Powered by Braino Services
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="https://www.facebook.com/brainoservices/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.youtube.com/watch?v=vZXJo3ZAyxM"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Library/js/jquery-3.2.1.min.js"></script>
    <script src="~/Library/js/popper.js"></script>
    <script src="~/Library/js/bootstrap.min.js"></script>
    <script src="~/Library/js/stellar.js"></script>
    <script src="~/Library/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/Library/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/Library/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/Library/vendors/isotope/isotope-min.js"></script>
    <script src="~/Library/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Library/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Library/js/mail-script.js"></script>
    <script src="~/Library/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/Library/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Library/vendors/counter-up/jquery.counterup.js"></script>
    <script src="~/Library/js/theme.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>


        var products = [];

        $(".addtoCart").click(function () {


            var pid = $(this).attr('data-id');
            products.push(pid);
            parts = $.cookie("CartProducts");
            if (!parts || parts == 'undefined') {
                $.cookie('CartProducts', products.join('-'), { path: '/' });

            }
            else {
                parts = parts.split("-");
                parts.push(pid);
                newparts = [];
                newparts = parts;

                //document.cookie = cname + "=" + usernames + ";path=/";
                $.cookie('CartProducts', newparts.join('-'), { path: '/' });

            }


            // alert("product added to cart");
            location.reload();


        });

    </script>


</body>
</html>
